.navbar.navbar-default{
  padding-left: 40px;
  color: black;
  font-weight: bold;
  font-family: 'Lora', serif;
  font-size: 60px;
}

body{
  background-color: #FBFBFB;
  color: black;

}
.container{
  font-size: 20px;
  font-family: 'Arvo', serif;
}

.footer {
  font-size: 25px;
  font-family: 'Arvo', serif;
  color: white;
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0;
  padding: 0rem;
  padding-left: 65px;
  background-color: #efefef;
  text-align: left;
}
