{% extends "base.html" %}
{% load staticfiles %}
{% block extra_head %}
{% endblock %}
{% block content %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1>42 Coffee Cups Test Assignment</h1>
    </div>
  </div>
</nav>

<div class="container">

<table class="table" id="MyTable">
  <thead>
    <tr>
      <th>Path</th>
      <th>Time</th>
      <th>Method</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody id="MyBody">
    <tr>
      <td>http://127.0.0.1:8000/request_list/</td>
      <td>2016-12-30 10:43:53</td>
      <td>GET</td>
      <td>200</td>
    </tr>
    <tr>
      <td>http://127.0.0.1:8000/request_list/</td>
      <td>2016-12-30 10:43:58</td>
      <td>GET</td>
      <td>200</td>
    </tr>
    <tr>
      <td>http://127.0.0.1:8000/admin/</td>
      <td>2016-12-30 10:43:59</td>
      <td>GET</td>
      <td>200</td>
    </tr>
    <tr>
      <td>http://127.0.0.1:8000/admin/hello/requests/</td>
      <td>2016-12-30 10:44:05</td>
      <td>GET</td>
      <td>200</td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}
